
@import "../../components/variables.scss";

#mainPage {
    $section-header-height: 25vh;
    $section-header-margin-bottom: 5vh;
    $section-header-en-text-opacity: 0.6;
    $section-header-en-text-font-size: 0.8rem;
    $section-header-en-text-font-weight: 300;
    $section-header-text-font-size: 1.6rem;
    $section-header-text-font-weight: 400;
    $section-header-gap: 1rem;
    $section-header-divider: 1px solid $highlight-red;

    $instructions-container-height: 100vh;
    $instructions-container-gap: 8%, 1rem, 0%;
    $instructions-container-welcome-title-width: min(60vw, 350px);
    $instructions-container-welcome-title-height: calc($instructions-container-welcome-title-width / 6 * 5);
    $instructions-container-welcome-title-font-size: 1.5rem;
    $instructions-container-welcome-title-font-weight: 300;
    $instructions-container-welcome-title-bg-opacity: 0.2;
    $instructions-container-welcome-title-bg-size: 60%;
    $instructions-container-content-font-size: 0.8rem;
    $instructions-container-content-font-weight: 300;
    $instructions-container-btn-bottom: 10vh;
    $instructions-container-btn-font-size: 0.95rem;
    $instructions-container-btn-font-weight: 300;
    $instructions-container-btn-padding: 0.75rem 3.5rem;

    $introduction-link-card-height: calc(100vw / (750 / 620));
    $introduction-link-card-left: 5%;
    $introduction-link-card-bottom: 8%;
    $introduction-link-card-gap: 1.2rem;
    $introduction-link-card-divider: 1px solid rgba(255, 255, 255, 0.8);
    $introduction-link-card-header-font-size: 1.1rem;
    $introduction-link-card-header-font-weight: 300;
    $introduction-link-card-content-font-size: 1.4rem;
    $introduction-link-card-content-font-weight: 400;

    $model-card-height: $introduction-link-card-height;
    $model-card-padding: 3vh 8vw;
    $model-card-gap: 5vw;
    $model-card-image-width: 50%;
    $model-card-text-container-gap: 30%, 7%, 2%, 24%;
    $model-card-header-font-size: 1.5rem;
    $model-card-header-font-weight: 400;
    $model-card-content-font-size: 0.9rem;
    $model-card-content-font-weight: 300;
    $model-card-content-gap: $model-card-content-font-size;
    $model-card-content-opacity: 0.8;
    $model-card-btn-font-size: 0.9rem;
    $model-card-btn-font-weight: 300;
    $model-card-btn-decoration-color: rgba(255, 255, 255);
    $model-card-btn-decoration-width: calc($model-card-btn-font-size * 5.5);

    $footer-margin-bottom: 7vh;
    $footer-qrcode-container-margin-top: 10vh;
    $footer-qrcode-container-gap: 1rem;
    $footer-qrcode-size: 5rem;
    $footer-qrcode-font-size: 0.9rem;
    $footer-qrcode-font-weight: 300;
    $footer-copyright-margin-top: 5vh;
    $footer-copyright-gap: 0.5rem;
    $footer-copyright-font-size: 0.85rem;
    $footer-copyright-font-weight: 300;
    $footer-copyright-opacity: 0.8;

    width: 100%;
    margin-left: 0;
    overflow-y: scroll;

    .section-header {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: $section-header-gap;

        width: 100%;
        height: $section-header-height;
        z-index: 999;

        .en-text {
            opacity: $section-header-en-text-opacity;
            font-size: $section-header-en-text-font-size;
            font-weight: $section-header-en-text-font-weight;
            // to have the text align to its box's bottom
            // making the gaps between `en-text`, `text` and `divider` equal
            line-height: $section-header-en-text-font-size;
        }

        .text {
            font-size: $section-header-text-font-size;
            font-weight: $section-header-text-font-weight;
        }

        .divider {
            width: $section-header-text-font-size;
            border-bottom: $section-header-divider;
            margin-bottom: $section-header-margin-bottom;
        }
    }

    .instructions-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        height: $instructions-container-height;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @for $i from 1 through 3 {
            & > div:nth-of-type(#{$i}) {
                margin-top: nth($list: $instructions-container-gap, $n: $i);
                z-index: 1;
            }
        }

        .instructions-bg {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .welcome-title {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;

            width: $instructions-container-welcome-title-width;
            height: $instructions-container-welcome-title-height;

            line-height: $instructions-container-welcome-title-height;
            font-size: $instructions-container-welcome-title-font-size;
            font-weight: $instructions-container-welcome-title-font-weight;

            .title-bg-image {
                position: absolute;
                width: 100%;
                height: 100%;

                background-position: center;
                background-repeat: no-repeat;
                background-size: $instructions-container-welcome-title-bg-size;
                opacity: $instructions-container-welcome-title-bg-opacity;
            }
        }

        .instructions-content > pre {
            text-align: center;
            font-size: $instructions-container-content-font-size;
            font-weight: $instructions-container-content-font-weight;
            line-height: calc(3 * $instructions-container-content-font-size);
        }

        .learn-more-btn {
            position: absolute;
            bottom: $instructions-container-btn-bottom;

            font-size: $instructions-container-btn-font-size;
            font-weight: $instructions-container-btn-font-weight;
            padding: $instructions-container-btn-padding;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

            span {
                display: block;
                // to fit the bg image
                transform: translateY(0.1rem);
            }
        }
    }

    .introduction-link-card {
        position: relative;
        display: block;
        width: 100%;
        height: $introduction-link-card-height;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .text-container {
            position: absolute;
            left: $introduction-link-card-left;
            bottom: $introduction-link-card-bottom;

            display: flex;
            flex-direction: column;
            gap: $introduction-link-card-gap;

            .header {
                font-size: $introduction-link-card-header-font-size;
                font-weight: $introduction-link-card-header-font-weight;

                &::after {
                    content: "";
                    display: block;
                    width: calc($introduction-link-card-header-font-size * 2 * 0.75);
                    border-bottom: $introduction-link-card-divider;
                    transform: translateY(calc($introduction-link-card-gap / 2));
                }
            }

            .content {
                @include link-arrow($introduction-link-card-content-font-size);

                font-size: $introduction-link-card-content-font-size;
                font-weight: $introduction-link-card-content-font-weight;
            }
        }
    }

    .model-link-card {
        width: 100%;
        height: $model-card-height;
        padding: $model-card-padding;

        display: flex;
        align-items: center;
        gap: $model-card-gap;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        img {
            width: $model-card-image-width;
        }

        .text-container {
            width: 100%;

            @for $i from 1 through 4 {
                & > span:nth-child(#{$i}) {
                    display: block;
                    margin-top: nth($list: $model-card-text-container-gap, $n: $i);
                }
            }

            .header {
                font-size: $model-card-header-font-size;
                font-weight: $model-card-header-font-weight;
            }

            .content {
                display: flex !important;
                gap: $model-card-content-gap;
                font-size: $model-card-content-font-size;
                font-weight: $model-card-content-font-weight;
                & > span:first-child {
                    opacity: $model-card-content-opacity;
                }
            }

            .learn-more-btn {
                @include link-arrow($model-card-btn-font-size);
                @include active-link-decoration(
                    $model-card-btn-decoration-color,
                    $model-card-btn-font-size,
                    $model-card-btn-decoration-width
                );

                font-size: $model-card-btn-font-size;
                font-weight: $model-card-btn-font-weight;
            }
        }
    }

    .roadmap-container {
        // TODO
        position: relative;
    }

    .footer {
        .logo-wall {
            width: 90%;
            margin-left: 5%;
        }

        .qrcode-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $footer-qrcode-container-gap;

            margin-top: $footer-qrcode-container-margin-top;
            font-size: $footer-qrcode-font-size;
            font-weight: $footer-qrcode-font-weight;
            & img {
                width: $footer-qrcode-size;
                aspect-ratio: 1;
            }
        }

        .footer-info-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $footer-copyright-gap;

            margin-top: $footer-copyright-margin-top;
            padding-bottom: $footer-margin-bottom;
            font-size: $footer-copyright-font-size;
            font-weight: $footer-copyright-font-weight;

            opacity: $footer-copyright-opacity;
        }
    }
}

#mainPage {

    $instructions-container-gap: 0, -2%, 5%;
    $instructions-container-welcome-title-width: 28vw;
    $instructions-container-welcome-title-height: 35vh;

    $introduction-link-card-height: 60vh;

    $model-cards-container-height: 45vh;
    $model-cards-container-padding: calc($model-cards-container-height / 6) 16%;
    $model-tab-trigger-font-size: 1.4rem;
    $model-tab-trigger-font-weight: 400;
    $model-tab-trigger-decoration-width: calc($model-tab-trigger-font-size * 8);

    @include desktop() {
        .instructions-container {
            @for $i from 1 through 3 {
                & > div:nth-of-type(#{$i}) {
                    margin-top: nth($list: $instructions-container-gap, $n: $i);
                    z-index: 1;
                }
            }

            .welcome-title {
                width: $instructions-container-welcome-title-width;
                height: $instructions-container-welcome-title-height;  
                .title-bg-image {
                    background-size: 10vw;
                } 
            }

            .learn-more-btn {
                @include desktop-cursor();
                position: unset;
            }

            .tri-arrow {
                position: absolute;
                bottom: 5vh;
            }
        }

        .introduction-container {
            display: flex;
            justify-content: center;

            .introduction-link-card {
                @include desktop-cursor();
                width: 22vw;
                height: $introduction-link-card-height;
            }
        }

        .model-cards-container {
            height: 50vh;

            --swiper-navigation-size: 2.5rem;

            .swiper-button-prev, .swiper-button-next {
                width: var(--swiper-navigation-size);
                border-radius: 50%;
                border: 0.8px solid white;
            }

            .swiper-button-prev {
                @include link-arrow(1.5rem);
                right: 87.5vw !important;
                left: auto !important;
                transform: scaleX(-1);
            }

            .swiper-button-next {
                @include link-arrow(1.5rem);
                left: 87.5vw !important;
                right: auto !important;
            }
            
            .model-link-card {
                display: flex;
                justify-content: center;
                width: 75vw;
                height: 50vh;
                margin-left: 12.5vw;
                padding: 0;

                .model-image {
                    width: 50%;
                    aspect-ratio: 1;
                    object-fit: contain;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                .model-info-container {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 50%;

                    .model-title {
                        @include link-arrow(1.4rem);
                        @include active-link-decoration(white, 1.4rem, 10rem);
                        @include desktop-cursor();
                        font-size: 1.4rem;
                        margin-bottom: 3rem;
                    }

                    .model-age, .model-class {
                        display: flex;
                        flex-direction: column;
                    }

                    .container-column {
                        display: flex;
                        gap: 4rem;
                        margin-bottom: 2rem;
                    }

                    .header {
                        position: relative;
                        font-size: 0.8rem;
                        font-weight: 300;
                        padding-left: 0.3rem;
                        margin-bottom: 0.5rem;

                        &::before {
                            content: "";
                            position: absolute;
                            left: -0.3rem;
                            top: 0.25rem;
                            display: block;
                            height: 0.7rem;
                            border-left: 1px solid $highlight-red;
                        }

                        & + span:not(.header) {
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
        
        .logo-wall {
            display: block;
            min-width: 720px;
            width: 75vw !important;
            margin-left: auto !important;
            margin: 0 auto;
        }
    }
}