
@import "../../components/variables.scss";

#userPage {
    $user-info-container-height: 30vh;

    $user-info-avatar-container-size: 32.5%;
    $user-info-gap: 1rem;
    $user-info-badge-font-size: 0.75rem;
    $user-info-badge-font-weight: 700;
    $user-info-badge-background-color: rgb(170, 24, 24);
    $user-info-badge-border-radius: 0.375rem 0;
    $user-info-name-font-size: 1.25rem;
    $user-info-name-font-weight: 300;
    $user-info-name-letter-spacing: 0.075rem;

    $collections-header-font-size: 1.1rem;
    $collections-header-font-weight: 300;
    $collections-grid-margin-top: 2vh;
    $collections-grid-column-gap: calc(5vw / 0.9); // 5% is the margin-left of page
    $collections-grid-row-gap: $collections-grid-column-gap;
    $collections-card-background-color: $highlight-bg-color;
    $collections-card-background-image-size: 150%; // or `cover`
    $collections-card-border-radius: 12px;
    $collections-card-padding: 1.25rem 0.5rem;
    $collections-card-image-width: 30vw;
    $collections-card-image-height: calc($collections-card-image-width / (4 / 5.5));
    $collections-card-image-margin-bottom: 0.75rem;
    $collections-card-title-font-size: 1rem;
    $collections-card-title-font-weight: 300;

    $empty-collection-prompt-margin-top: 5vh;
    $empty-collection-prompt-image-width: 5rem;
    $empty-collection-prompt-image-brightness: 1.5;
    $empty-collection-prompt-text-opacity: 0.5;

    overflow-y: scroll;

    #hj-user-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: $user-info-gap;

        width: 100%;
        height: $user-info-container-height;

        .avatar-container {
            position: relative;
            width: $user-info-avatar-container-size;

            img {
                width: 100%;
                aspect-ratio: 1;
                object-fit: contain;
    
                border-radius: 50%;
            }    

            .badge {
                position: absolute;
                bottom: 0;
                right: 0;

                display: block;
                background-color: $user-info-badge-background-color;
                border-radius: $user-info-badge-border-radius;

                font-size: $user-info-badge-font-size;
                font-weight: $user-info-badge-font-weight;
            }
        }

        .name-container {
            font-size: $user-info-name-font-size;
            font-weight: $user-info-name-font-weight;
            letter-spacing: $user-info-name-letter-spacing;
        }
    }

    #hj-user-collections {
        .collection-header {
            display: block;

            font-size: $collections-header-font-size;
            font-weight: $collections-header-font-weight;
            text-align: center;

            &::before {
                content: "";
                display: block;
                width: 2rem;
                height: 1px;

                margin: 0 auto;

                transform: translateY(-50%) translateY(-0.75rem);
                background: $user-info-badge-background-color;
            }
        }

        .collections-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: $collections-grid-row-gap $collections-grid-column-gap;

            margin-top: $collections-grid-margin-top;

            .collection-card {
                display: flex;
                flex-direction: column;
                align-items: center;

                gap: $collections-card-image-margin-bottom;
                padding:  $collections-card-padding;

                background-position: center;
                background-repeat: no-repeat;
                background-size: $collections-card-background-image-size;
                background-color: $collections-card-background-color;
                border-radius: $collections-card-border-radius;

                img {
                    width: $collections-card-image-width;
                    height: $collections-card-image-height;
                    object-fit: contain;
                }

                span {
                    font-size: $collections-card-title-font-size;
                    font-weight: $collections-card-title-font-weight;
                    text-overflow: ellipsis;
                }
            }
        }

        .empty-collection-prompt {
            display: flex;
            flex-direction: column;
            align-items: center;

            margin-top: $empty-collection-prompt-margin-top;
            gap: $collections-card-image-margin-bottom;

            img {
                width: $empty-collection-prompt-image-width;
                filter: brightness($empty-collection-prompt-image-brightness);
            }

            span {
                font-size: $collections-card-title-font-size;
                font-weight: $collections-card-title-font-weight;
                opacity: $empty-collection-prompt-text-opacity;
            }
        }
    }
}

#userPage {
    $collections-header-font-size: 1.1rem;

    @include desktop() {
        & {
            width: 100%;
            margin-left: 0;
        }

        & > .bg-image {
            position: absolute;
            width: 100vw;
        }

        & > div:nth-child(2) {
            position: relative;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            margin-top: calc(100vw / 3840 * 632 - 4vw);
            z-index: 999;
        }

        #hj-user-info {
            justify-content: flex-start;

            .avatar-container {
                width: 8vw;

                .badge {
                    padding: 0.15rem 0.5rem;
                    font-weight: 300;
                }
            }

            .name-container {
                font-size: 1.15rem;
            }
        }

        #hj-user-collections {
            width: 70vw;
            min-width: 600px;
            max-width: 1800px;

            .collection-header {
                line-height: $collections-header-font-size;
                margin-left: 1rem;
                text-align: left;

                &::before {
                    width: calc(5 * $collections-header-font-size);
                    margin: initial;
                    transform: translateY(calc($collections-header-font-size + 0.75rem)) translateX(-0.55rem);
                }

                &::after {
                    content: "";
                    display: block;
                    width: 70vw; // same as #hj-user-collections
                    height: 1px;

                    background: rgba($color: white, $alpha: 0.1);

                    transform: translateY(calc(0.75rem - 1px)) translateX(-0.55rem);
                }
            }

            .collections-container {
                margin-top: 5vh;
                padding: 0 0.5rem;
                grid-template-columns: repeat(4, 1fr);
                gap: 2vw;

                .collection-card {
                    @include desktop-cursor();

                    width: 100%;

                    img {
                        width: 80%;
                        height: 100%;
                    }
                }
            }

            .empty-collection-prompt {
                margin-top: 6vh;
            }
        }
    }
}