
@import "variables.scss";

/* ----------------- Navbar ------------------ */
.navbar {
    $navbar-logo-size: 2.5rem;
    $navbar-tint-color: $highlight-font-color;
    $navbar-bg-color: rgba($highlight-bg-color, 0.6);
    $navbar-backdrop-blur: 6px;
    $navbar-font-size: 0.9rem;
    $navbar-font-weight: 100; // 300 = Light
    $navbar-letter-spacing: 0.05rem;
    $navbar-text-image-gap: 0.5rem;
    $navbar-user-btn-size: 1.76rem;

    max-width: 100vw;
    background-color: $navbar-bg-color;
    backdrop-filter: blur($navbar-backdrop-blur);

    .container-fluid {
        margin: 0 0.5rem;
    }

    .navbar-brand {
        color: $navbar-tint-color;
        font-size: $navbar-font-size;
        font-weight: $navbar-font-weight;
        letter-spacing: $navbar-letter-spacing;

        img {
            width: $navbar-logo-size;
            aspect-ratio: 1;
            object-fit: cover;

            margin-right: $navbar-text-image-gap;
        }
    }

    .user-btn {
        width: $navbar-user-btn-size;
        aspect-ratio: 1;
        object-fit: cover;
    }
}

/* ----------------- SwiperNavigator ------------------ */
.swiper-navigator {
    $navigator-btn-size: 1rem;
    $navigator-btn-left-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="99.73" height="179" viewBox="0 0 99.73 179"><polygon fill="white" points="0 89.5 99.73 0 49.73 90 99.73 179 0 89.5"/></svg>');
    
    $navigator-title-font-size: 1.3rem;
    $navigator-title-font-weight: 300;
    $navigator-title-letter-spacing: 0.075rem;

    @mixin arrow-btn($flip: false) {
        width: $navigator-btn-size;
        height: $navigator-btn-size;

        background-repeat: no-repeat;
        background-size: contain;
        background-image: $navigator-btn-left-image;

        @if $flip {
            transform: scaleX(-1);
        }

        &:active {
            opacity: 0.6;
        }
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .prev-btn {
        @include arrow-btn();
    }

    .next-btn {
        @include arrow-btn($flip: true);
    }

    span {
        // make it central even if there are no buttons
        display: block;
        margin: 0 auto;

        font-size: $navigator-title-font-size;
        font-weight: $navigator-title-font-weight;
        letter-spacing: $navigator-title-letter-spacing;
    }
}

/* ----------------- InfoContainer ------------------ */
.info-container {    
    $info-container-gap-inside: 3vh;
    $info-container-margin: 3vh 0 5vh 0;

    $container-bg-color: $highlight-bg-color;
    $container-padding: 1.25rem;
    $container-border-radius: 12px;

    $basic-info-container-row-gap: calc($container-padding * 2);
    $basic-info-container-column-gap: 1rem;
    $basic-info-container-inner-border: 1px solid rgba(255, 255, 255, 0.1);

    $basic-info-header-font-size: 0.88rem;
    $basic-info-header-font-weight: 100;
    $basic-info-header-icon-size: 1rem;
    $basic-info-header-icon-weight: $basic-info-header-font-weight;
    $basic-info-header-text-icon-gap: 0.5rem;
    $basic-info-header-margin-bottom: 0.5rem;
    $basic-info-content-font-size: 1rem;
    $basic-info-content-font-weight: 300;

    $description-container-header-font-size: 1.1rem;
    $description-container-header-font-weight: 300;
    $description-container-header-margin-bottom: 0.5rem;
    $description-container-content-font-size: 0.95rem;
    $description-container-content-font-weight: 300;
    $description-container-content-letter-spacing: 0.05rem;
    $description-container-content-line-height: calc($description-container-content-font-size * 1.8);
    $description-container-content-border-radius: 8px;

    @mixin grid-border($placement, $extra-height: 1rem) {
        & {
            position: relative;
        }

        &::before {
            content: "";
            position: absolute;
            display: block;                
            width: 100%;

            @if $placement == top {            
                border-top: $basic-info-container-inner-border;
                transform: translateY(calc($basic-info-container-row-gap / -2));    
            } @else if $placement == right {
                height: calc(100% + $extra-height);
                border-right: $basic-info-container-inner-border;
                transform: translateX(calc($basic-info-container-column-gap / 2))
                            translateY(calc($extra-height / -2));
            } @else {
                @error "Unknown direction #{$direction}.";
            }
        }
    }

    display: flex;
    flex-direction: column;
    gap: $info-container-gap-inside;
    margin: $info-container-margin;

    & > div[class$="-container"] {
        background-color: $container-bg-color;
        padding: $container-padding;
        border-radius: $container-border-radius;
    }

    .basic-info-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        gap: $basic-info-container-row-gap $basic-info-container-column-gap;

        .basic-info {
            display: flex;
            flex-direction: column;

            .header {
                display: flex;
                align-items: center;
                gap: $basic-info-header-text-icon-gap;
                margin-bottom: $basic-info-header-margin-bottom;

                font-size: $basic-info-header-font-size;
                font-weight: $basic-info-header-font-weight;

                img {
                    width: $basic-info-header-icon-size;
                    aspect-ratio: 1;
                }

                i {
                    font-size: $basic-info-header-icon-size;
                    font-weight: $basic-info-header-icon-weight;
                }
            }

            .content {
                word-break: break-word;

                font-size: $basic-info-content-font-size;
                font-weight: $basic-info-content-font-weight;
            }

            // &:first-child, &:nth-child(2) {
            //     @include grid-border(right);
            // }

            // currently is size introduction container
            &:last-child {
                grid-column-start: 1;
                grid-column-end: 4;
                
                @include grid-border(top);
            }
        }
    }

    .description-container {
        display: flex;
        flex-direction: column;
        
        .header {
            margin-bottom: $description-container-header-margin-bottom;
            font-size: $description-container-header-font-size;
            font-weight: $description-container-header-font-weight;
        }

        pre.content {
            white-space: pre-wrap;
            word-break: break-word;

            font-size: $description-container-content-font-size;
            font-weight: $description-container-content-font-weight;
            letter-spacing: $description-container-content-letter-spacing;
            line-height: $description-container-content-line-height;
        }

        img.content {
            width: 100%;
            border-radius: $description-container-content-border-radius;
        }
    }
}

/* ----------------- Popup ------------------ */
.popup-wrapper {
    $popup-zindex: 999;

    .popup {
        display: none;

        position: fixed;
        left: 50%;
        bottom: 55%;

        width: 80vw;

        padding: 2rem;
        background-color: #f8f9fa;
        border-radius: 12px;

        transform: translate(-50%, 50%);

        z-index: $popup-zindex + 1;

        .popup-content {
            display: flex;
            flex-direction: column;
            gap: 0.6rem;

            .popup-footer {
                align-self: center;
            }
        }

        .popup-close-btn {
            display: block;
            width: 1.8rem;
            aspect-ratio: 1;

            position: absolute;
            bottom: -10vh;
            left: 50%;
            transform: translate(-50%);

            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgba(255,255,255,0.6)" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg>');
        }
    }

    .popup-mask {
        display: none;

        position: fixed;
        top: 0;
        left: 0;
    
        width: 100vw;
        height: 100vh;
    
        background-color: black;
        opacity: 0.3;
    
        z-index: $popup-zindex;
    }
}

/* ----------------- Roadmap ------------------ */
.roadmap {
    $roadmap-item-margin-left: 30%;
    $roadmap-item-gap: 2rem;
    $roadmap-item-header-font-size: 1.4rem;
    $roadmap-item-header-font-weight: 400;
    $roadmap-item-header-content-gap: 1.2rem;
    $roadmap-item-content-font-size: 0.9rem;
    $roadmap-item-content-font-weight: 300;
    $roadmap-item-text-line-margin-bottom: 0.6rem;

    display: flex;
    flex-direction: column;
    gap: $roadmap-item-gap;

    .roadmap-item {
        display: flex;
        flex-direction: column;
        gap: $roadmap-item-header-content-gap;

        margin-left: $roadmap-item-margin-left;

        .header {
            font-size: $roadmap-item-header-font-size;
            font-weight: $roadmap-item-header-font-weight;
        }

        .content {
            font-size: $roadmap-item-content-font-size;
            font-weight: $roadmap-item-content-font-weight;

            .text-line {
                margin-bottom: $roadmap-item-text-line-margin-bottom;
            }
        }
    }
}