
@import "variables.scss";

/* ----------------- Navbar ------------------ */
.navbar {
    $navbar-logo-size: 2.5rem;
    $navbar-tint-color: $highlight-font-color;
    $navbar-bg-color: rgba($highlight-bg-color, 0.6);
    $navbar-backdrop-blur: 6px;
    $navbar-font-size: 0.9rem;
    $navbar-font-weight: 100; // 300 = Light
    $navbar-letter-spacing: 0.05rem;
    $navbar-text-image-gap: 0.5rem;
    $navbar-user-btn-size: 1.76rem;

    max-width: 100vw;
    background-color: $navbar-bg-color;
    backdrop-filter: blur($navbar-backdrop-blur);

    .container-fluid {
        margin: 0 0.5rem;
    }

    .navbar-brand {
        color: $navbar-tint-color;
        font-size: $navbar-font-size;
        font-weight: $navbar-font-weight;
        letter-spacing: $navbar-letter-spacing;

        img:first-child {
            width: $navbar-logo-size;
            aspect-ratio: 1;
            object-fit: cover;

            margin-right: $navbar-text-image-gap;
        }

        img:last-child {
            height: calc($navbar-logo-size / 2);
        }
    }

    .user-btn {
        width: $navbar-user-btn-size;
        aspect-ratio: 1;
        object-fit: cover;
    }
}

.navbar {
    @include desktop() {
        .container-fluid {
            margin: 0 15vw;
        }

        .navbar-brand, .user-btn {
            @include desktop-cursor();
        }
    }
}

/* ----------------- SwiperNavigator ------------------ */
.swiper-navigator {
    $navigator-margin-top: 1rem;
    $navigator-btn-size: 1rem;
    $navigator-btn-left-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="99.73" height="179" viewBox="0 0 99.73 179"><polygon fill="white" points="0 89.5 99.73 0 49.73 90 99.73 179 0 89.5"/></svg>');
    
    $navigator-title-font-size: 1.3rem;
    $navigator-title-font-weight: 300;
    $navigator-title-letter-spacing: 0.075rem;

    @mixin arrow-btn($flip: false) {
        width: $navigator-btn-size;
        height: $navigator-btn-size;

        background-repeat: no-repeat;
        background-size: contain;
        background-image: $navigator-btn-left-image;

        @if $flip {
            transform: scaleX(-1);
        }

        &:active {
            opacity: 0.6;
        }
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: $navigator-margin-top;

    .prev-btn {
        @include arrow-btn();
    }

    .next-btn {
        @include arrow-btn($flip: true);
    }

    span {
        // make it central even if there are no buttons
        display: block;
        margin: 0 auto;

        font-size: $navigator-title-font-size;
        font-weight: $navigator-title-font-weight;
        letter-spacing: $navigator-title-letter-spacing;
    }
}

/* ----------------- InfoContainer ------------------ */
.info-container {    
    $info-container-gap-inside: 3vh;
    $info-container-margin: 3vh 0 5vh 0;

    $container-bg-color: #121112;
    $container-padding: 1.25rem;
    $container-border-radius: 12px;

    $basic-info-container-row-gap: 2.0rem;
    $basic-info-container-column-gap: 1rem;
    $basic-info-container-inner-border: 1px solid rgba(255, 255, 255, 0.1);

    $basic-info-header-font-size: 0.88rem;
    $basic-info-header-font-weight: 100;
    $basic-info-header-icon-size: 1rem;
    $basic-info-header-icon-weight: $basic-info-header-font-weight;
    $basic-info-header-text-icon-gap: 0.5rem;
    $basic-info-header-margin-bottom: 0.5rem;
    $basic-info-content-font-size: 0.9rem;
    $basic-info-content-font-weight: 300;

    $description-container-header-font-size: 1.1rem;
    $description-container-header-font-weight: 300;
    $description-container-header-margin-bottom: 0.5rem;
    $description-container-content-font-size: 0.95rem;
    $description-container-content-font-weight: 300;
    $description-container-content-letter-spacing: 0.05rem;
    $description-container-content-line-height: calc($description-container-content-font-size * 1.8);
    $description-container-content-border-radius: 8px;

    @mixin grid-border($placement, $width, $extra-height: 1rem) {
        & {
            position: relative;
        }

        &::before {
            content: "";
            position: absolute;
            display: block;                
            width: $width;

            @if $placement == top {            
                border-top: $basic-info-container-inner-border;
                transform: translateY(calc($basic-info-container-row-gap / -2));    
            } @else if $placement == right {
                height: calc(100% + $extra-height);
                border-right: $basic-info-container-inner-border;
                transform: translateX(calc($basic-info-container-column-gap / 2))
                            translateY(calc($extra-height / -2));
            } @else {
                @error "Unknown direction #{$direction}.";
            }
        }
    }

    display: flex;
    flex-direction: column;
    gap: $info-container-gap-inside;
    margin: $info-container-margin;

    & > div[class$="-container"] {
        border-radius: $container-border-radius;
    }

    .basic-info-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        background-color: $container-bg-color;
        padding: $container-padding;
        gap: $basic-info-container-row-gap $basic-info-container-column-gap;

        .basic-info {
            width: fit-content;
            display: flex;
            flex-direction: column;

            &:nth-of-type(1) { justify-self: flex-start; }
            &:nth-of-type(2) { justify-self: center; }
            &:nth-of-type(3) { justify-self: flex-end; }
            &:nth-of-type(4) { justify-self: flex-start; align-items: flex-start; } 

            .header {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: $basic-info-header-text-icon-gap;
                margin-bottom: $basic-info-header-margin-bottom;

                font-size: $basic-info-header-font-size;
                font-weight: $basic-info-header-font-weight;

                img {
                    width: $basic-info-header-icon-size;
                    aspect-ratio: 1;
                }

                i {
                    font-size: $basic-info-header-icon-size;
                    font-weight: $basic-info-header-icon-weight;
                }
            }

            .content-wrapper {
                display: flex;
                .content {
                    flex-grow: 1;

                    word-break: break-word;
    
                    text-align: center;
                    font-size: $basic-info-content-font-size;
                    font-weight: $basic-info-content-font-weight;
                }
            }

            // &:first-child, &:nth-child(2) {
            //     @include grid-border(right);
            // }

            // currently is size introduction container
            &:last-child {
                grid-column-start: 1;
                grid-column-end: 4;
                
                @include grid-border(top, calc(90vw - 2 * $container-padding));
            }
        }
    }

    .description-container {
        display: flex;
        flex-direction: column;

        background: transparent;
        padding: $container-padding 0;
        
        .header {
            margin-bottom: $description-container-header-margin-bottom;
            font-size: $description-container-header-font-size;
            font-weight: $description-container-header-font-weight;
        }

        pre.content {
            white-space: pre-wrap;
            word-break: break-word;

            font-size: $description-container-content-font-size;
            font-weight: $description-container-content-font-weight;
            letter-spacing: $description-container-content-letter-spacing;
            line-height: $description-container-content-line-height;
        }

        img.content {
            width: 100%;
            border-radius: $description-container-content-border-radius;
        }
    }
}

.info-container {
    @mixin grid-full-width() {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    @include desktop() {
        & {
            display: flex;
            flex-direction: column;
            gap: 6vh;
            margin-top: 10vh;
        }

        .top-frame-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;

            height: calc(35vw - 1rem);

            user-select: text;

            .frame-container {
                position: relative;
                display: flex;
                align-items: center;
                max-width: calc(35vw - 1rem);
            }

            .basic-info-container {
                width: calc(35vw - 1rem);
                row-gap: 0;
                background-color: transparent;
                padding: 5vh 2rem;

                .basic-info {
                    justify-self: auto;
                    align-items: flex-start;
                    .content {
                        text-align: left
                    }
                }

                .basic-info-title {
                    @include grid-full-width();
                    font-size: 1.5rem;
                    letter-spacing: 0.1rem;

                    padding-bottom: 1rem;
                    border-style: solid;
                    border-width: 0 0 1px 0;
                    border-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%) 1 1 100%;
                    margin-bottom: 3rem;
                }

                // size introduction
                & > div:nth-last-child(2) {
                    @include grid-full-width();

                    margin-top: 2rem;
                    margin-bottom: 3rem;
                }

                .popup-wrapper {
                    @include grid-full-width();

                    .popup-button {
                        max-width: 24rem;
                        width: 100%;
                        border: 0.5px solid white;
                        border-radius: 4px;
                        color: white;
                        font-size: 0.9rem;
                        font-weight: 300;
                        padding: 0.6rem;

                        & > div {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 0.5rem;
                        }
                    }
                }
            }
        }

        .description-container {
            .header {
                text-align: center;
                font-size: 1.2rem;
                margin-bottom: 4rem;

                &::after {
                    content: "";
                    position: absolute;
                    left: 50%;

                    display: block;
                    width: 1rem;
                    border-bottom: 1px solid $highlight-red;

                    transform: translate(-50%, 1rem);
                }
            }
        }
    }
}

/* ----------------- Popup ------------------ */
.popup-wrapper {
    $popup-zindex: 999;

    .popup {
        display: none;

        position: fixed;
        left: 50%;
        bottom: 55%;

        width: 80vw;

        padding: 2rem;
        background-color: #f8f9fa;
        border-radius: 12px;

        transform: translate(-50%, 50%);

        z-index: $popup-zindex + 1;

        .popup-content {
            display: flex;
            flex-direction: column;
            gap: 0.6rem;

            .popup-footer {
                align-self: center;
            }
        }

        .popup-close-btn {
            display: block;
            width: 1.8rem;
            aspect-ratio: 1;

            position: absolute;
            bottom: -10vh;
            left: 50%;
            transform: translate(-50%);

            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgba(255,255,255,0.6)" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg>');
        }
    }

    .popup-mask {
        display: none;

        position: fixed;
        top: 0;
        left: 0;
    
        width: 100vw;
        height: 100vh;
    
        background-color: black;
        opacity: 0.8;
    
        z-index: $popup-zindex;
    }
}

/* ----------------- Roadmap ------------------ */
.roadmap {
    $roadmap-item-margin-left: 40%;
    $roadmap-item-gap: 2rem;
    $roadmap-item-header-font-size: 1.6rem;
    $roadmap-item-header-font-weight: 400;
    $roadmap-item-header-content-gap: 1.2rem;
    $roadmap-item-header-number-padding: 0.25rem;
    $roadmap-item-header-number-bg-color: $page-body-bg-color;
    $roadmap-item-header-number-font-color: $page-body-font-color;
    $roadmap-item-header-number-font-size: 1.1rem;
    $roadmap-item-header-number-font-weight: 300;
    $roadmap-item-content-font-size: 0.9rem;
    $roadmap-item-content-font-weight: 300;
    $roadmap-item-text-line-margin-bottom: 0.6rem;
    $roadmap-item-bar-opacity: 0.6;
    $roadmap-item-bar-left: calc($roadmap-item-margin-left / -2);

    display: flex;
    flex-direction: column;
    gap: $roadmap-item-gap;

    .roadmap-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        transform: translateY(-15vh);
    }

    .roadmap-title {
        display: none;
    }

    .roadmap-item {
        display: flex;
        flex-direction: column;
        gap: $roadmap-item-header-content-gap;

        margin-left: $roadmap-item-margin-left;

        z-index: 1;

        .header-container {
            display: flex;
            align-items: center;

            .series-num {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 2rem;
                height: 2rem;
                margin-left: $roadmap-item-bar-left;

                color: $roadmap-item-header-number-font-color;
                background-color: $roadmap-item-header-number-bg-color;

                font-size: $roadmap-item-header-number-font-size;
                font-weight: $roadmap-item-header-number-font-weight;
                text-align: center;
                padding: $roadmap-item-header-number-padding;
                border-radius: 50%;

                transform: translateX(-50%);
            }

            .header {
                margin-left: calc(-0.5 * $roadmap-item-bar-left);
                font-size: $roadmap-item-header-font-size;
                font-weight: $roadmap-item-header-font-weight;
            }
        }

        .content {
            position: relative;
            font-size: $roadmap-item-content-font-size;
            font-weight: $roadmap-item-content-font-weight;

            .bar {
                position: absolute;
                width: 1px;
                height: 100%;
                left: $roadmap-item-bar-left;

                background: $page-body-font-color;
                transform: translateY(calc(-0.35 * $roadmap-item-text-line-margin-bottom));
            
                opacity: $roadmap-item-bar-opacity;
            }

            .text-line {
                margin-left: 1rem;
                margin-bottom: $roadmap-item-text-line-margin-bottom;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0.35rem;
                    left: -1rem;
                    display: block;
                    width: 0.6rem;
                    height: 0.6rem;
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-image: url('data:image/svg+xml,<svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" width="200" height="200"><path d="M828.509091 679.563636c0-95.418182-44.218182-186.181818-118.690909-246.690909l-2.327273-2.327272s-95.418182-72.145455-95.418182-155.927273c0-114.036364 34.909091-176.872727 107.054546-190.836364h2.327272s2.327273 0 2.327273-2.327273l2.327273-2.327272 2.327273-2.327273 2.327272-2.327273s0-2.327273 2.327273-2.327272v-4.654546V46.545455c0-9.309091-9.309091-18.618182-18.618182-18.618182H307.2c-9.309091 0-18.618182 9.309091-18.618182 18.618182v25.6s0 2.327273 2.327273 2.327272l2.327273 2.327273 2.327272 2.327273 2.327273 2.327272s2.327273 0 2.327273 2.327273h2.327273c72.145455 13.963636 107.054545 76.8 107.054545 190.836364 0 81.454545-93.090909 155.927273-95.418182 155.927273l-2.327273 2.327272c-74.472727 60.509091-118.690909 151.272727-118.690909 246.690909 0 114.036364 60.509091 216.436364 158.254546 274.618182l-6.981818 16.290909c-2.327273 4.654545-2.327273 11.636364 0 18.618182 2.327273 4.654545 9.309091 9.309091 16.290909 9.309091h297.890909c6.981818 0 11.636364-2.327273 16.290909-9.309091 2.327273-4.654545 4.654545-11.636364 0-18.618182l-4.654546-16.290909c97.745455-58.181818 158.254545-162.909091 158.254546-274.618182z" p-id="5026" fill="white"></path></svg>');                }
            }
        }
    }
}

.roadmap {
    @include desktop() {
        & {
            position: relative;
            height: 40vh;
            flex-direction: row;
            margin-top: calc(1.2rem + 20vh);
        }

        & > div:not(.bar) {
            z-index: 9 !important;
        }

        .roadmap-bg {
            position: absolute;
            top: calc(-1 * (1.2rem + 20vh));
            width: auto;
            height: calc(40vh + 1.2rem + 20vh);
            transform: none;
            z-index: 0;
        }

        .bar {
            position: absolute;
            top: calc(-1.5rem - 0.25rem);
            left: calc(35% + 1.1rem + 0.5rem);
            width: 0%;// 70%;
            height: 1px;
            background: linear-gradient(90deg, rgba(255,255,255,0.6), rgba(255,255,255,0));
            z-index: 1;
        }

        .roadmap-title {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            position: absolute;
            top: -2.8rem; // the same as `.series-num`
            right: 72.5%;
            font-size: 3rem;
            line-height: 3rem;
            text-align: center;
            letter-spacing: 0.25rem;
            width: 13.25rem;

            opacity: 0.9;

            & > span {
                align-self: flex-start;
            }

            & > div {
                align-self: flex-end;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                width: max-content;
                span {
                    width: 100%;
                    text-align: center;
                }

                span:last-child {
                    font-size: 1.5rem;
                    line-height: 1.5rem;
                }
            }
        }

        .roadmap-item {
            margin-left: 0;
            margin-right: 8%;

            .header-container {
                position: relative;
                .series-num {
                    position: absolute;
                    top: calc(-1.2rem - 1.6rem);
                    margin-left: 0;
                    transform: none;
                }
                .header {
                    margin-left: 0.25rem;
                }
            }

            .content {
                .bar {
                    display: none;
                }
            }
        }

        .roadmap-item:first-child {
            margin-left: 35%;
        }

    }
}

/* ----------------- ErrorPage ------------------ */
.error-page {
    position: absolute;
    top: 50%;
    left: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    transform: translate(-50%, -50%);

    img {
        width: 10rem;
    }

    .text-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        span:first-child {
            font-size: 2rem;
        }

        span:nth-child(2) {
            font-size: 1.2rem;
            margin-bottom: 2rem;
        }

        .btn {
            color: white;
            border: 0.5px solid white;
        }
    }

    @include desktop() {
        & {
            flex-direction: row;
        }

        .text-container {
            align-items: flex-start;
        }
    }
}