
// Bootstrap variables overriding
$input-focus-box-shadow: none;
$form-check-input-border: none;
$form-check-input-border-radius: 50%;
$form-check-input-focus-box-shadow: none;

$page-body-bg-color: rgb(0, 0, 0);
$page-body-font-color: rgb(255, 255, 255);

$page-container-width: 90%;
$page-container-margin-left: calc((100% - $page-container-width) / 2);

$highlight-bg-color: rgb(30, 30, 30);
$highlight-font-color: rgb(255, 255, 255);
$highlight-red: #a32832;

@mixin link-arrow($font-size) {
    & {
        display: flex !important;
        align-items: center;
        gap: calc($font-size * 0.5);
    }

    &::after {
        content: "";
        display: block;
        width: calc($font-size * 0.6);
        aspect-ratio: 1;

        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        // to left arrow image
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="99.73" height="179" viewBox="0 0 99.73 179"><polygon fill="white" points="0 89.5 99.73 0 49.73 90 99.73 179 0 89.5"/></svg>');
        transform: scaleX(-1);
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in-anim {
    will-change: opacity;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes scaleUpAnimation {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.scale-up-anim {
    will-change: transform;
    transform-origin: center;
    animation: scaleUpAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes scaleUpXAnimation {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

.scale-up-x-anim {
    will-change: transform;
    transform-origin: center;
    animation: scaleUpXAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes slideInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.slide-in-from-bottom-anim {
    will-change: transform;
    animation: slideInFromBottom ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}