
// some variables of Bootstrap should be overwritten
@import "./components/variables.scss";

@import "~bootstrap/scss/bootstrap.scss";

@import "./components/components.scss";

body {
    height: 100vh;
    margin: 0;
    background-color: #000;

    overflow: hidden;
}

* {
    scrollbar-width: none;
}

*:focus {
    outline: none;
}

*::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

a {
    color: $page-body-font-color;
    text-decoration: none;

    &:visited {
        color: $page-body-font-color;
    }
}

#root {
    height: 100%;
    
    color: $page-body-font-color;
    background-color: $page-body-bg-color;
}

.page-container {
    width: $page-container-width;
    margin-left: $page-container-margin-left;
    user-select: none;

    overflow-x: hidden;
}

// page transition
.page {
    &-enter {
        opacity: 0;
        transform: scale(1.1);
    }
    
    &-enter-active {
        opacity: 1;
        transform: scale(1);
        transition: opacity 0.3s, transform 0.3s;
    }
    
    &-exit {
        opacity: 1;
        transform: scale(1);
    }
    
    &-exit-active {
        opacity: 0;
        transform: scale(0.9);
        transition: opacity 0.3s, transform 0.3s;
    }
}

.page-bg-image {
    position: absolute;
    width: 100%;
}

// React Placeholder
.rect-shape {
    border-radius: 3px;
}

.text-block {
    .text-row {
        height: 1.25rem !important;
        border-radius: 3px;
    }
}