
// some variables of Bootstrap should be overwritten
@import "./components/variables.scss";

@import "~bootstrap/scss/bootstrap.scss";

$bootstrap-icons-font-dir: "~bootstrap-icons/font/fonts";
@import "~bootstrap-icons/font/bootstrap-icons.scss";

@import "./components/components.scss";

body {
    height: 100vh;
    margin: 0;

    overflow: hidden;
}

* {
    scrollbar-width: none;
}

*:focus {
    outline: none;
}

*::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

#root {
    height: 100%;
    
    color: $page-body-font-color;
    background-color: $page-body-bg-color;
}

.page-container {
    width: $page-container-width;
    margin-left: $page-container-margin-left;
}

.bg-image:has(+ .page-container) {
    position: absolute;
    width: 100%;
}